<div class="simple-container">
  <small *ngIf="!inputAlbum">{{albumText}}</small>
  <div *ngIf="inputAlbum">
    <h2>{{albumText}}</h2>
    
    <div *ngIf="isLoading"><mat-spinner diameter="50"></mat-spinner></div>

    <button mat-raised-button *ngIf="!isLoading" style="width:120px" (click)="addTrack()" style="margin-bottom: 1em;">
      Add Track
    </button>

    <table *ngIf="!isLoading" id="trackTable">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Duration</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of trackList">
        <td>{{track.id}}</td>
        <td>{{track.name}}</td>
        <td>{{formatMillis(track.duration)}}</td>
        <td>
          <button mat-raised-button (click)="editTrack(track)">Edit</button>
          <button mat-raised-button (click)="deleteTrack(track)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>  
  </div>
</div>