<form class="example-form" [formGroup]='mainForm'>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Choose by artist" [matAutocomplete]="auto" formControlName='userInput'>
    </mat-form-field>
    <span>Your choice is: {{mainForm.get('userInput').value | json}}</span>
  
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let user of filteredArtists" [value]="artist">
          <span>{{ artist.name }}</span>
          <small> | ID: {{artist.id}}</small>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </form>